@import url(reset.css);
/* user agent style reset */
@import url(variable.css);
/* 변수 설정 */

* {
  color: #ffffff;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

img {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#login-form {
  justify-content: center;
}

input[type='text'] {
  background-color: transparent;
  border: none;
  font-size: var(--lg-font);
  border-bottom: 2px solid white;
  padding: 5px;
  color: white;
  text-align: center;
}

input[type='text']:focus {
  outline: none;
}

input[type='text']:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #ffffff;
  text-align: center;
}

#clock {
  font-size: var(--2xl-font);
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
}

#greeting {
  font-size: var(--xl-font);
  font-weight: 700;
  text-align: center;
}

#logout {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 15px;
  top: 20px;
}

#logout:hover {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 10px;
}

#quote {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  text-align: center;
  height: 50px;
}

#quote span:first-child {
  padding: 0 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#quote span:last-child {
  color: gray;
  font-size: 15px;
  font-weight: 700;
  transition: 0.5s;
}

#quote span {
  font-size: var(--xs-font);
}

.todo-box__title {
  margin: 10px 0;
  position: relative;
}

.todo-title {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box__title button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: black;
  width: 100%;
  padding: 5px;
  height: 100%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}

.todo-box__title:hover button {
  opacity: 1;
  transform: scaleX(1);
}

#todo-list {
  height: 200px;
  overflow: scroll;
}

#todo-list::-webkit-scrollbar {
  display: none;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  transition: background-color linear 0.3s;
}

#todo-list li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#todo-list span {
  font-size: var(--sm-font);
}

#todo-list button {
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  transition: background-color ease-in-out 0.3s;
}

#todo-list button:hover {
  background-color: black;
}

#todo-form input {
  font-size: var(--sm-font);
}

#weather {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 10px;
}

#weatherBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

#weatherBox span {
  font-size: 30px;
}
